<!DOCTYPE html>
<html lang="en" data-ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>bbtest</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body >
    <!-- loads using ui-route -->
    <div class="main-view-wrapper" ui-view=""></div>

    <!--dependencies-->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/jquery-ui/jquery-ui.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="libs/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>

    <!-- main code -->
    <script src="js/demo/demo.js"></script>
</body>
</html>